@import url(//fonts.googleapis.com/css?family=Vibur);

html,body{
  height:100%;

}
body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
  margin:0;
  color: whitesmoke
}

.pagetitle {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 100%;
  width: 70%;
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.logo b{
  font: 400 17vh "Vibur";
  color: #f3bddb;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fa47a9, 0 0 0.5em #fa47a9, 0 0 0.1em #fa47a9, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.container {
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.seachBox {
  margin: auto;
  width: 70%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

input {
  text-align: center;
  background: rgba(255,255,255,0.15);
  width: 80%;
  height: 45px;
  margin-left: 3rem;
  border-radius:10px;
  color: black;
  font-size: 35px
}

.search-btn {
  vertical-align: top;  
  clear:both;
  color:rgba(252, 28, 204, 0.8);
  border:2.5px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  font-family:sans-serif;
  font-size:18px;
  width:6em;
  height: 45px;
  font-weight:600;
  bottom:20px;
  left:0;
  right:0;
  background:rgba(118, 117, 117, 0.5);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.4
}

.search-btn:hover{
  color:rgb(208, 105, 228);opacity:1
}

.main-display {  
  margin: auto;
  display: grid;
  width:90%;
  grid-template-columns: 47% 53%;
  grid-template-rows: 1fr;
  gap: 5px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "search-result artist-info";
}

.fav {
  overflow-x: scroll;
  overflow: hidden;
  margin: 0 auto;
}

.fav-name {
  margin: auto;
  margin-top: 2rem;
  font-size: 22px;
  height:70px;
  text-align: center; 
  justify-content: center;
  overflow: hidden;
}

.fav-list-all {
  display:flex;
  width:100%;
  height: 160px;
  border-bottom: solid palevioletred;
  box-shadow: 0 15px 35px 0 rgba(210, 76, 194, 0.5);
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 2rem;
  align-items: center;
  /* white-space: nowrap; */
}

.fav-list-all>div {
  display:flex;
}

.fav-list  {  
  display: grid;
  max-width: 300px;
  min-width: 300px;
  height: 150px;
  /* border: solid #f3bddb; */
  grid-template-columns: 150px 150px;
  grid-template-rows: 110px 40px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fav-left fav-info"
    "fav-left remove";
}

.fav-left { grid-area: fav-left; }

.fav-info { flex-wrap: wrap;
  grid-area: fav-info; }

.remove { 
  text-align: right;
  grid-area: remove; }


.fav-right {
  overflow-wrap: break-word;
}

.search-result { 
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius:8px;
    box-shadow: 0 15px 35px 0 rgba(210, 76, 194, 0.5);  
    grid-area: search-result; 
    
}

.icon {
  text-align: right;  
  margin-right: 2rem;
}

.icon:hover, .remove:hover, .reslutPhoto, .result-artist  {
  cursor: pointer
}

.link {
  text-decoration: none;
  color: white;
}

.result-artist {
  color: white;
  padding-bottom: 2rem;
}

a:link {
  color: white;
}

a:hover {
  color:#80FF00;
}

.artist-info { 
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius:8px;
  box-shadow: 0 15px 35px 0 rgba(210, 76, 194, 0.5); 
  grid-area: artist-info; }

.artist-photos {
  text-align: center;
  margin-top: 1.5rem;
}

.right-photo {
  text-align: center;
  margin-top: 1.5rem;
}

.big-photo {
  border: solid;
}

.song-info {
  text-align: left;
  display: grid;  
  grid-template-columns: 70% 30%;
  grid-template-areas: "songinfo-left songinfo-right";
  margin-top: 1rem;
  margin-left: 1rem;
}

.songinfo-left {
  text-align: left;
  margin-left: 2rem;
  padding: auto;
  grid-area:songinfo-left
}

.songinfo-right {
  color: #141414;
  margin-top: 0.7rem;
  align-items: center;
  display: flex;
  flex-flow: column;
  grid-area:songinfo-right
}


.songinfo-right:hover {
  color:silver;
}

#heart-icon-add {
  fill: pink
}

#heart-icon-add:hover {
  fill: #EF0888;
  cursor: pointer;
}

#heart-icon-remove {
  fill: #EF0888
}

#heart-icon-remove:hover {
  fill: pink;
  cursor: pointer;
}

.results {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 2rem;
  padding: auto;
}

img {
  object-fit: contain;
  border-radius: 5%;
}

.result-info {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.addtofav {
  text-align: right;
  margin-right: 3rem;
}

.searchBox {
  text-align: center;
  justify-content: center;
}

.artist-details {  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 37% 63%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "artist artist"
    "photo info";
}

.info { 
  text-align: left;
  margin-right: 5rem;
  grid-area: info; }

.photo { grid-area: photo; }

.artist { grid-area: artist; }







