@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
  background: #141414;
  /* background: linear-gradient(220.55deg, #4063BC 0%, #6B0013 100%); */
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  align-self: center;
}

.container {
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.pagetitle {
  font-family: 'Schoolbell', cursive;
  font-size: 90px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 70%;
}

.form {
  margin: auto;
  width: 60%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

input {
  text-align: center;
  width: 80%;
  height: 45px;
  margin-left: 3rem;
  border-radius:10px;
}

.main-display {  
  margin: auto;
  display: grid;
  width:90%;
  grid-template-columns: 47% 53%;
  grid-template-rows: 1fr;
  gap: 5px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "search-result artist-info";
}

.fav-name {
  margin: auto;
  margin-top: 2rem;
  height:100px;
  text-align: center; 
  justify-content: center;
  /* background-image: url(src/components/image/heart.png); 
  background-repeat:  no-repeat;  */
}
.fav {
  overflow-x: scroll;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

.fav-list-all {
  display:flex;
  width:100%;
  height: 160px;
  border-bottom: solid palevioletred;
  box-shadow: 0 15px 35px 0 rgba(210, 76, 194, 0.5);
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x:scroll;
  margin-right: 2rem;
  align-items: center;
  white-space: nowrap;
}

.fav-list-all>div {
  display:flex;
}

.fav-list {
  border: solid;
  display:flex;
  width: 300px;
  height: 150px;
}

.search-result { 
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius:8px;
    box-shadow: 0 15px 35px 0 rgba(210, 76, 194, 0.5);  
    grid-area: search-result; 
    
}

.icon {
  text-align: right;
  margin-right: 2rem;
}

.remove { 
  text-align: right;
  margin-top: 3.5rem;
}

.icon:hover, .remove:hover, .reslutPhoto, .result-artist  {
  cursor: pointer
}

.link {
  text-decoration: none;
  color: white;
}

.artist-info { 
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius:8px;
  box-shadow: 0 15px 35px 0 rgba(210, 76, 194, 0.5); 
  grid-area: artist-info; }

.artist-photos {
  text-align: center;
  margin-top: 1.5rem;
}

.right-photo {
  text-align: center;
  margin-top: 1.5rem;
}

.song-info {
  text-align: left;
  display: grid;  
  grid-template-columns: 70% 30%;
  grid-template-areas: "songinfo-left songinfo-right";
  margin-top: 1rem;
  margin-left: 1rem;
}

.songinfo-left {
  text-align: left;
  margin-left: 2rem;
  grid-area:songinfo-left
}

.songinfo-right {
  color: #141414;
  margin-top: 0.7rem;
  align-items: center;
  display: flex;
  flex-flow: column;
  grid-area:songinfo-right
}


.songinfo-right:hover {
  color:silver;
}

#heart-icon-add {
  fill: pink
}

#heart-icon-add:hover {
  fill: #EF0888;
  cursor: pointer;
}

#heart-icon-remove {
  fill: #EF0888
}

#heart-icon-remove:hover {
  fill: pink;
  cursor: pointer;
}

.results {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 2rem;
  padding: auto;
}

img {
  object-fit: contain;
  border-radius: 5%;
}

.result-info {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.addtofav {
  text-align: right;
  margin-right: 3rem;
}

.search-btn {
  background: transparent;
  border-radius:10px;
  color: rgba(200, 116, 183, 0.5);
  border: 2px solid rgba(185, 99, 167, 0.5);
}

.searchBox {
  text-align: center;
  justify-content: center;
}

.artist-details {  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 37% 63%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "artist artist"
    "photo info";
}

.info { 
  text-align: left;
  margin-right: 5rem;
  grid-area: info; }

.photo { grid-area: photo; }

.artist { grid-area: artist; }




